# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode/
app/.jqwik-database
app/src/main/resources/native/
app/src/test/resources/golden/
native/deps/
app/bin/
docs/TECHNICAL_DOCUMENTATION.md
